<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <!-- <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"> -->
        </div>
        <div class="hidden sm:ml-1 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/teams"
              class="bg-gray-600 text-gray-300 hover:bg-primary hover:text-indigo-900 rounded-md px-3 py-2 text-sm font-medium">Team</a>
            <a href="/events"
              class="bg-gray-600 text-gray-300 hover:bg-primary hover:text-indigo-900 rounded-md px-3 py-2 text-sm font-medium">Events</a>
            </div>
          </div>
        </div>

      <form action="/events" class="flex flex-wrap justify-between md:flex-row"><input type="search"
          placeholder="Search Event" name="search"
          class="flex-1 h-10 px-4 m-1 text-gray-700 placeholder-gray-400 bg-grey-500 border-none appearance-none lg:h-12 dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0">
        <button type="submit"
          class="flex items-center justify-center w-full p-2 m-1 text-white transition-colors duration-300 transform rounded-lg lg:w-12 lg:h-12 lg:p-0 bg-primary hover:bg-primary/70 focus:outline-none focus:bg-primary/70"><svg
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg></button></form>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        
        <a href="/users/detail/edit"
        class=" text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium me-2">Edit Profile</a>
        
        <a href="/users/detail"
        class=" text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium me-2">My Profile</a>

        <a href="/logout"
          class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">Logout</a>

      </div>

    </div>
  </div>
  </div>

</nav>