<h1>Teams</h1>
<button type="button"> <a href="/team/add'">Create Team</a></button>
<table class="table text-gray-100">
  <form class="d-flex shadow-sm p-3 mb-5 bg-body-tertiary rounded bg-info-subtle" role="search"
    style=" width: 70rem;margin-left: 5rem; margin-top: 2rem;">
    <input class="form-control me-2" type="search" placeholder="Search Team" aria-label="Search" name="name">
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>
  <thead>
    <tr>
      <th scope="col">Nama</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((item)=> { %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td><button type="button" class="btn btn-primary"> <a style="color: aliceblue; text-decoration: none;"
              href="#">Join Team</a></button></td>
      </tr>
      <% }) %>
  </tbody>
</table>