<div class="container-fluid flex flex-wrap items-center justify-center min-h-screen">
  <% data.forEach((item)=> { %>

    <div class="card w-96 bg-base-100 shadow-xl image-full m-4 relative">
      <figure class="max-w-96 max-h-54">
        <img src="https://img.freepik.com/premium-vector/phoenix-esport-mascot-logo-design_119810-1319.jpg?w=740"
          alt="Shoes" class="w-full h-full object-cover"/>
      </figure>
      <div class="card-body flex flex-col items-center justify-between h-full">
        <h1 class="card-title text-3xl mb-2">
          <%= item.name %>
        </h1>
        <div class="card-actions mt-auto mb-5">
          <a href="/teams/<%= item.id %>/join" class="btn btn-primary">Join Team</a>
        </div>
      </div>
    </div>

    <% }) %>

</div>
